<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- 3rd Party Scripts -->
        <!-- Moment for time formatting -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"
            defer
        ></script>
        <!-- QS for Query parameter parsing -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <!-- For Vue.JS -->
        <script src="https://unpkg.com/vue@next"></script>
        <!-- Socket so that we can communicate to our backend -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/Pomodoro.js" defer></script>
        <script src="/js/Socket.js" defer></script>

        <link rel="stylesheet" href="style.css" />
        <title>Room</title>
    </head>

    <body>
        <div id="app">
            <div>
                <h4 class="room">{{room}}</h4>
                <div class="timer">
                    <div v-if="isHost" class="methods">
                        <button
                            class="btn btn--active"
                            @click="changeTimeToPomodoro"
                        >
                            Pomodoro
                        </button>
                        <button class="btn" @click="changeTimeToBreak">
                            Break
                        </button>
                    </div>

                    <p class="timer__time">{{time}}</p>

                    <div v-if="isHost" class="timer__button">
                        <button
                            class="timer__play-pause"
                            v-if="!timerPaused"
                            @click="pauseTimer"
                        >
                            Pause
                        </button>
                        <button
                            class="timer__play-pause"
                            v-else
                            @click="playTimer"
                        >
                            Play
                        </button>
                        <div class="timer__play-pause--backdrop"></div>
                    </div>
                    <div v-if="isHost" class="timer__inputs">
                        <label for="pomodoro">Pomodoro</label>
                        <input
                            type="number"
                            ref="pomodoroTime"
                            min="1"
                            max="1000"
                            value="25"
                        />
                        <label for="break">Break</label>
                        <input
                            type="number"
                            ref="breakTime"
                            min="1"
                            max="1000"
                            value="5"
                        />
                        <button @click="updateTimeSettings">Save</button>
                    </div>
                </div>
            </div>

            <div class="chat">
                <div class="chat__user-list">
                    <section class="chat__users">
                        <div
                            class="chat__user"
                            v-for="user in userList"
                            :key="user"
                        >
                            <div class="chat__user-bubble">
                                {{user.username}}
                            </div>
                        </div>
                    </section>
                </div>
                <div class="chat__messages" ref="messages">
                    <div
                        v-for="message in messages"
                        :key="message"
                        class="chat__message"
                    >
                        <p class="chat__info">
                            <span class="chat__message__username"
                                >{{message.username}} -</span
                            >
                            <span class="chat__message__timestamp"></span>
                                &nbsp;{{message.createdAt}}</span
                            >
                        </p>
                        <div class="chat__message__content">
                            {{message.text}}
                        </div>
                    </div>
                </div>
                <form @submit.prevent="sendMessage">
                    <input
                        v-model="messageContent"
                        type="text"
                        class="chat__input"
                        placeholder="Type your message"
                    />
                </form>
            </div>
        </div>
    </body>
</html>
