<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- 3rd Party Scripts -->
        <!-- Moment for time formatting -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"
            defer
        ></script>
        <!-- QS for Query parameter parsing -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <!-- For Vue.JS -->
        <script src="https://unpkg.com/vue@next"></script>
        <!-- Socket so that we can communicate to our backend -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/Pomodoro.js" defer></script>
        <script src="/js/Socket.js" defer></script>

        <title>Room</title>
    </head>
    <body>
        <div id="app">
            <h4>{{room}}</h4>
            <ul>
                <li v-for="user in userList" :key="user">{{user.username}}</li>
            </ul>

            <div v-if="isHost" class="methods">
                <button @click="changeTimeToPomodoro">Pomodoro</button>
                <button @click="changeTimeToBreak">Break</button>
            </div>

            <div class="timer"></div>
            <h2>{{time}}</h2>

            <section v-if="isHost" class="host-settings">
                <div class="buttons">
                    <button v-if="!timerPaused" @click="pauseTimer">
                        Pause
                    </button>
                    <button v-else @click="playTimer">Play</button>
                </div>

                <div class="inputs">
                    <label for="pomodoro">Pomodoro</label>
                    <input
                        type="number"
                        ref="pomodoroTime"
                        min="1"
                        max="1000"
                        value="25"
                    />
                    <label for="break">Break</label>
                    <input
                        type="number"
                        ref="breakTime"
                        min="1"
                        max="1000"
                        value="5"
                    />
                    <button @click="updateTimeSettings">Save</button>
                </div>
            </section>
        </div>
    </body>
</html>
